.about-blackkind {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 2fr;
	grid-auto-rows: minmax(150px, auto);
	justify-content: center;
	align-items: center;
	padding: 4rem 0;
}

.about-blackkind__left {
	grid-column-start: 1;
	grid-column-end: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-blackkind__left h2 {
	font-size: 2.5rem;
}
.about-blackkind__right {
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

@media (max-width: 768px) {
	.about-blackkind {
		grid-template-columns: 1fr;
	}

	.about-blackkind__left {
		grid-column-start: 1;
		grid-column-end: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.about-blackkind__right {
		grid-column-start: 1;
		grid-column-end: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 500px) {
	.about-blackkind {
		grid-template-columns: 1fr;
	}

	.about-blackkind__left {
		grid-column-start: 1;
		grid-column-end: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.about-blackkind__right {
		grid-column-start: 1;
		grid-column-end: 2;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
}
